{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DotGothic16&family=Hachi+Maru+Pop&family=Kaisei+Decol&family=Rampart+One&family=RocknRoll+One&family=Stick&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/ress.css' %}" />
        <link rel="stylesheet" href="{% static 'css/list.css' %}" />
        <link rel="stylesheet" href="{% static 'css/stars.css' %}" />
    </head>

    <body>
        <!-- 以下星空 -->
        <div class="stars-container">
            <div class="stars s">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="stars m">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="stars l">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <!-- 以下モーダル -->
        <div id="mask"></div>
            <section id="modal">
                <h1>virtual夏祭りへようこそ！！！</h1>
                <p>
                    バーチャル夏祭りでは、全国各地の出店者による屋台で買い物やゲームがお楽しみいただけます。<br />
                    キーボードのWASDキー、もしくは矢印キーでキャラクターを操作できます。<br />
                    屋台の近くに行くと「みてみる」ボタンが出現し、それを押すと屋台の商品を見たり、<br />
                    ゲームをプレイすることができます。<br />
                    お楽しみください！
                </p>
                <div id="close">閉じる</div>
            </section>
        <!-- 以下お祭り会場 -->
        <section class="container">
            <div class="stores">
                {% for shop in shop_data %}
                <div class="store-wrapper">
                    <div class="store-detail disabled disabledY" id="detail{{ forloop.counter }}">
                        <img class="seller-img" src="{{shop.user.image_url}}" alt="" />
                        <div class="seller-name">{{shop.user.username}}</div>
                        <div>{{shop.id}}</div>
                        <a class="detail-btn" href="{% url 'shops:product_list' shop.id %}" target="_blank">みてみる</a>
                    </div>
                    <div class="store store{{ forloop.counter }}">
                        <div class="store-name"><span>{{shop.name}}</span></div>
                        <div class="store-img-wrapper">
                            <img src="{{shop.image_url}}" alt="" />
                        </div>
                        <div class="text">
                            {{shop.content}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="bonodori-wrapper">
                    <img class="bonodori" src="../frontend/img/bonodori.png" alt="" />
                </div>

                {% for shop in shop_data %}
                <div class="store-wrapper">
                    <div class="store-detail disabled disabledY" id="detail{{ forloop.counter|add:7 }}">
                        <img class="seller-img" src="{{shop.user.image_url}}" alt="" />
                        <div class="seller-name">{{shop.user.username}}</div>
                        <a class="detail-btn" href="{% url 'shops:product_list' shop.pk %}" target="_blank">みてみる</a>
                    </div>
                    <div class="store store{{ forloop.counter }}">
                        <div class="store-name"><span>{{shop.name}}</span></div>
                        <div class="store-img-wrapper">
                            <img src="{{shop.image_url}}" alt="" />
                        </div>
                        <div class="text">
                            {{shop.content}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="road-wrapper">
                <div class="road">
                    <div class="character" id="user1">
                        <p class="user-name" id="user1-name"></p>
                        <img src="https://1.bp.blogspot.com/-YGTQUq4Nshk/X5OccOloRWI/AAAAAAABb-g/-brQj6nqVnkSnwQkddX9R1lQUhNQbkuPQCNcBGAsYHQ/s834/music_castanet_girl.png" alt="" />
                    </div>
                    <div class="character" id="user2">
                        <p class="user-name" id="user2-name"></p>
                        <img src="https://1.bp.blogspot.com/-RYZHIWJfAWw/X7zMbf1CJFI/AAAAAAABcbM/IS8w1WGzrwEbQ9ITXQ9Bee4l1BdVVy5mgCNcBGAsYHQ/s400/ireba_hazureru_woman.png" alt="" />
                    </div>
                    <div class="character" id="user3">
                        <p class="user-name" id="user3-name"></p>
                        <img src="https://1.bp.blogspot.com/-4iAIUI1aFG0/XsdrzqF-7FI/AAAAAAABZDQ/myZNTV9uNMY8usBD7PYuiPFXdAw8VU0iQCNcBGAsYHQ/s400/figure_toilet_suwaru.png" alt="" />
                    </div>
                    <div class="character" id="user4">
                        <p class="user-name" id="user4-name"></p>
                        <img src="https://1.bp.blogspot.com/-gTf4sWnRdDw/X0B4RSQQLrI/AAAAAAABarI/MJ9DW90dSVwtMjuUoErxemnN4nPXBnXUwCNcBGAsYHQ/s400/otaku_girl_fashion.png" alt="" />
                    </div>
                    <div class="character" id="user5">
                        <p class="user-name" id="user5-name"></p>
                        <img src="https://1.bp.blogspot.com/-dHVynArrtao/XhwqReKF6lI/AAAAAAABW9k/TnkQ3Q5hzxY3EulDvTKEX_Xp79hVfVvVwCNcBGAsYHQ/s450/fashion_osyare_middle_man.png" alt="" />
                    </div>
                    <div class="character" id="user6">
                        <p class="user-name" id="user6-name"></p>
                        <img src="https://1.bp.blogspot.com/-nnIdCRcTTZA/X5OcFs5FreI/AAAAAAABb44/PGWVZREboT0BDRhp_-mAd5uWAdQKkQrUwCNcBGAsYHQ/s400/baby_nyuuji_kenshin_kyoui.png" alt="" />
                    </div>
                    <div class="character" id="user7">
                        <p class="user-name" id="user7-name"></p>
                        <img src="https://1.bp.blogspot.com/-DU9jll2ZQ38/XexqGlVzO9I/AAAAAAABWdQ/m0lQONbEfSgEjIN14h7iIfRh8WS5qwrFACNcBGAsYHQ/s400/gal_o_man.png" alt="" />
                    </div>
                    <div class="character" id="user8">
                        <p class="user-name" id="user8-name"></p>
                        <img src="https://1.bp.blogspot.com/-m-FCbmqxzEQ/X9GYUUD8zpI/AAAAAAABcv0/wglNjDqRKTs32zUG9vJAjnwiCZWpPgOJwCNcBGAsYHQ/s450/opera_singer_man.png" alt="" />
                    </div>
                    <div class="character" id="user9">
                        <p class="user-name" id="user9-name"></p>
                        <img src="https://1.bp.blogspot.com/-GDhk7KnYKH4/X4aVk3U2AII/AAAAAAABbws/2szgAlH-xsAozXwOGVBWj8sENPZnqgKCQCNcBGAsYHQ/s450/keibi_genkin_yusou.png" alt="" />
                    </div>
                    <div class="character" id="user10">
                        <p class="user-name" id="user10-name"></p>
                        <img src="https://1.bp.blogspot.com/--6sTzgDjKjE/X3hGAwFHRgI/AAAAAAABbms/jmUC_DCLg1QEDOAAwIPldDJn4n0vMykDQCNcBGAsYHQ/s400/job_mystery_shopper_man.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <script src="{% static 'js/list.js' %}"></script>
    </body>

</html>
